<div class="wrapper">
  <div
    class="preloader flex-column justify-content-center align-items-center"
    style="height: 0px"
  >
    <img
      class="animation__shake"
      src="dist/img/AdminLTELogo.png"
      alt="AdminLTELogo"
      height="60"
      width="60"
      style="display: none"
    />
  </div>
  <app-navbar></app-navbar>
  <app-sidebar></app-sidebar>
  <div class="content-wrapper" style="min-height: 517px">
    <router-outlet></router-outlet>
  </div>
  <!-- <app-dashboard></app-dashboard> -->
</div>
