<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Add Product</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Admin</a></li>
          <li class="breadcrumb-item active">Add Product</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Add Product</h3>
          </div>

          <form
            [formGroup]="productForm"
            (ngSubmit)="onSubmit()"
            id="quickForm"
            novalidate="novalidate"
          >
            <div class="card-body">
              <div class="form-group">
                <label for="image-url">Image Url</label>
                <input
                  type="text"
                  name="image-url"
                  class="form-control"
                  id="image-url"
                  placeholder="Image url"
                  formControlName="imageUrl"
                />
              </div>
              <div class="form-group">
                <label for="description">Description</label>
                <textarea
                  type="text"
                  class="form-control"
                  id="description"
                  placeholder="Description"
                  formControlName="description"
                  rows="3"
                ></textarea>
              </div>
              <div class="form-group">
                <label for="discountUrl">Discount</label>
                <input
                  type="text"
                  class="form-control"
                  id="discountUrl"
                  placeholder="Discount"
                  formControlName="discountUrl"
                />
              </div>
              <div class="form-group">
                <label for="rating">Rating</label>
                <input
                  type="number"
                  class="form-control"
                  id="rating"
                  placeholder="Rating"
                  formControlName="rating"
                />
              </div>
            </div>

            <div class="card-footer">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-7">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Products</h3>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>Image</th>
                <th>Discount</th>
                <th>Rating</th>
                <th>Description</th>
                <th>Link</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product; index as i; of: products">
                <td>
                  <img
                    class="view_Details_product img-fluid"
                    src="{{ product.imageUrl }}"
                    alt=""
                  />
                </td>
                <td>
                  <img
                    class="view_Details_product img-fluid"
                    src="{{ product.discountUrl }}"
                    alt=""
                  />
                </td>
                <td>{{ product.rating }}</td>
                <td>{{ product.description }}</td>

                <td style="padding: 0px; width: 100px">
                  <a
                    class="btn btn-primary btn-sm"
                    routerLink="productdetails"
                    [queryParams]="{
                      product: i
                    }"
                  >
                    <i class="fas fa-eye"> </i>
                  </a>
                  <a class="btn btn-info btn-sm" href="#">
                    <i class="fas fa-pencil-alt"> </i>
                  </a>
                  <a class="btn btn-danger btn-sm" href="#">
                    <i class="fas fa-trash"> </i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- <div class="col-md-7">
        <div class="row">
          <div class="col-md-6">
            <div class="products_info">
              <div class="product-discount">
                <img
                  src="https://www.victorpowersolutions.com/assets/images/products/product-offer-10per.png"
                  alt=""
                />
              </div>
              <div class="kccportable-image">
                <a href="#" class="view_Details"
                  ><i class="fa fa-eye me-2" aria-hidden="true"></i> View
                  Details</a
                >
                <img
                  src="assets/images/products/kcc_portable_2-20/418_360/kcc.jpeg"
                  alt=""
                />
              </div>
              <div class="addtolink">
                <div class="kcc_image_title">
                  <b
                    >Diesel : 15kVA to 1010 kVA Available GAS : 15 kVA to 200
                    kVA Available</b
                  >
                </div>
                <div class="">
                  <i class="i-color fa fa-star" aria-hidden="true"></i>
                  <i class="i-color fa fa-star" aria-hidden="true"></i>
                  <i class="i-color fa fa-star" aria-hidden="true"></i>
                  <i class="i-color fa fa-star" aria-hidden="true"></i>
                  <i class="i-color fa fa-star" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</section>
