<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Product Attribute Mapping</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Admin</a></li>
          <li class="breadcrumb-item active">Attribute Master</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Attribute Master</h3>
          </div>

          <form
            [formGroup]="attributeProductForm"
            (ngSubmit)="onSubmitHandler()"
            id="quickForm"
            novalidate="novalidate"
          >
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Product Id</label>
                    <select class="form-control">
                      <option>1</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group" *ngFor="let key of productKeys">
                    <select class="form-control">
                      <option>{{ key }}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
