<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Attribute Master</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Admin</a></li>
          <li class="breadcrumb-item active">Attribute Master</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Attribute Master</h3>
          </div>

          <form
            [formGroup]="attributeMasterForm"
            (ngSubmit)="onSubmitHandler()"
            id="quickForm"
            novalidate="novalidate"
          >
            <div class="card-body">
              <div class="form-group">
                <label for="commonName">Common Name</label>
                <input
                  type="text"
                  id="commonName"
                  class="form-control"
                  placeholder="Common name"
                  formControlName="commanName"
                />
              </div>
              <div class="form-group">
                <label for="displayName">Display Name</label>
                <input
                  type="text"
                  id="displayName"
                  class="form-control"
                  placeholder=""
                  formControlName="displayName"
                />
              </div>
              <div class="form-group">
                <label>Type</label>
                <select formControlName="type" class="form-control">
                  <option>String</option>
                  <option>Number</option>
                  <option>Date</option>
                </select>
              </div>
            </div>

            <div class="card-footer">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
